h3.header-judul {font-family: sans-serif; font-size: 16pt; font-weight: bold;}
h3.kosong {font-family:sans-serif; color:#006699;};

p.header-pembuat {font-family: sans-serif; font-size: 12pt}
p.sub-header-buat {font-family: sans-serif; font-size: 10pt; font-weight: normal;}
p.info-komentar {font-family: sans-serif; font-size: 12pt; margin-top: 5px;}

a.rating, a.rating:visited {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 10pt;
}
a.rating:hover, a.rating:active, a.rating:link {
	text-decoration: none;
	color: #c5f5f7;
	font-family: sans-serif;
	font-size: 10pt;
}


.form-right {
	float: right
}

.form-group-khusus {
	padding-bottom: -10px;
}


.header-right {
	text-align: right;
}

.row-isi-forum {
	margin-top: 10px;
}

.space-footer {
	height:100px;
}


/* ----------------------------------------- Tabel -----------------------------------------*/

tr.forum-kepala {
	background-color: #006699;
	color: white;
}

tr.forum-komentar {
	background-color: #2d80c1;
	color: white;
	margin-top: 15px !important;
}

tr.forum td {
	background-color: #e9edf3;
	padding-right: 15px !important;
	padding-left: 15px !important;
	padding-bottom: 20px !important;
	text-align: justify;
}

table.table-komentar-forum {
	margin-top: 10px;
}
/*f57900*/
/*219DD3*/
/*2d80c1*/