/*------------------------------------------- Modal Soal -------------------------------------------*/

p.nomor-soal {font-family: arial; font-size: 13pt; font-weight: bold;}

h4.judul-soal {font-family: sans-serif; font-size: 15pt; font-weight: bold;}



label.label-modal-soal {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: normal;
}

.row-judul {
	margin-top: 20px;
}

.dataTable {
	margin-top: 15px;
}

.table_soal {
	
}