/*--------------------------------------MATERI--------------------------------------*/
h3.judul-tugas {font-family: sans-serif; font-size: 20pt; font-weight: bold;}
h3.mulai {font-family: sans-serif; font-size: 12pt; font-weight: bold;}
h4.judul-soal {font-family: sans-serif; font-size: 20pt; font-weight: bold;}

/*--------------------------------------table--------------------------------------*/

.table-tugas th,
.table-tugas td {
  background-color: white;
  border: 2px solid #ddd !important;
}

thead.tugas th {
  text-align: center;
  color: black;
}

td.kolom-kiri {
  text-align: left;
}


@media {
  
  #left {
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    max-height: 600%;
  }
}

