/*--------------------------------------TUGAS--------------------------------------*/


h3.judul-tugas {font-family: sans-serif; font-size: 20pt; font-weight: bold;}
h4.unggah-jawaban {font-family: sans-serif; font-size: 12pt; font-weight: bold;}


.row-detail {
  padding-top: 20px;
  height: 350px;
}

.row-paging-table {
  text-align: center;
  margin-bottom: -25px;
}


/*--------------------------------------table--------------------------------------*/

.table-tugas th,
.table-tugas td {
  background-color: white;
  border: 2px solid #ddd !important;
}

thead.tugas th {
  text-align: center;
  color: black;
}

td.kolom-kiri {
  text-align: left;
}


@media {
  
  #right {
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    max-height: 80%;
  }
}

input:-moz-read-only { /* For Firefox */
    background-color: white;
}

input:read-only {
    background-color: white;
}

/*--------------------------------------Timer--------------------------------------*/

ul.countdown {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: block;
  text-align: center;
}
ul.countdown li {
  display: inline-block;
}
ul.countdown li span {
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
ul.countdown li.seperator {
  font-size: 20px;
  line-height: 20px;
  vertical-align: top;
}
ul.countdown li p {
  color: #a7abb1;
  font-size: 12px;
}