/*--------------------------------------Font Style--------------------------------------*/

h2.header {font-family: sans-serif; color: gray; font-weight: bold;}

h3.legend {font-family: sans-serif; font-weight: bold;}

h4 {font-family: cursive; font-size: 11pt; font-weight: bold;}

p.footer {font-family: sans-serif; font-size: 9pt; color: gray; margin-top: 12px;}

a.btn {font-family: sans-serif; font-size: 9pt;}

a.link-to, a.link-to:visited {
  text-decoration: none;
  color: #006699;
}

a.link-to:link, a.link-to:hover, a.link-to:active, a.link-to:focus {
  text-decoration: none;
  color: #f57900;
}


a.paging, a.paging:visited {
  text-decoration: none;
  color: #006699;
}

a.paging:link, a.paging:hover, a.paging:active, a.paging:focus {
  text-decoration: none;
  color: #f57900;
}



/*--------------------------------------Template View--------------------------------------*/

body {
	background-image: url(../img/background/light_wool.png);
	/*background-color: #ffffff;*/
}

.Row-Header-Login {
	height: 125px;
	padding-top: 10px;
}

.Row-Body-Login {
	height: 400px;
}

.Row-Footer {
	border-top: solid 1px lightgray;
	text-align: center;
	margin-bottom: 20px;
}

.Row-Main-Header {
	/*background-image: url(../img/background/fabric.png);
	height: 80px; */
	margin-top: 10px;
}

.Row-Main-Body {
	max-height: 100%;
	max-width: 80%;
	text-align: left;
	padding-top: 50px;
}

.Row-space {
	height: 100px;
}


/*--------------------------------------Breadcrumbs--------------------------------------*/

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: -10px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
  font-size: 12.5pt;
}
.breadcrumb li a {
	color: #127EA4;
}
.breadcrumb li a:hover, a:focus {
	color: #FEE212;
  	text-decoration: none;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}


/*--------------------------------------Thumbnail--------------------------------------*/

.core-box {
	display: inline-block;
}

.core-box .heading {
	margin-bottom: 15px;
	color: #127EA4;
}

.core-box .heading .circle-icon {
	float: left;
}

.core-box .heading h3 {
	line-height: 15px !important;
	margin: 0;
	padding-left: 30px;
	font-weight: normal;
	color: #127EA4;
	font-size: 16pt;
}
.core-box .content {
	color: #747474 !important;
	line-height: 20px;
	margin-bottom: 10px;
}
.core-box .view-more {
	color: #127EA4;
}
.core-box .view-more i {
	display: inline-block;
}
.core-box .view-more:hover {
	text-decoration: none;
	color: #073242;
}


/*--------------------------------------Navbar--------------------------------------*/

.my-navbar {
  background-color: #127EA4;
  border-color: #e7e7e7;
}
.my-navbar .navbar-brand {
  color: #fff;
  font-size: 16pt;
}
.my-navbar .navbar-brand:hover,
.my-navbar .navbar-brand:focus {
  color: #FEE212;
  background-color: transparent;
}
.my-navbar .navbar-text {
  color: #fff;
}
.my-navbar .navbar-nav > li > a {
  color: #fff;
}
.my-navbar .navbar-nav > li > a:hover,
.my-navbar .navbar-nav > li > a:focus {
  color: #FEE212;
  background-color: transparent;
}
.my-navbar .navbar-nav > .active > a,
.my-navbar .navbar-nav > .active > a:hover,
.my-navbar .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.my-navbar .navbar-nav > .disabled > a,
.my-navbar .navbar-nav > .disabled > a:hover,
.my-navbar .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.my-navbar .navbar-toggle {
  border-color: #ddd;
}
.my-navbar .navbar-toggle:hover,
.my-navbar .navbar-toggle:focus {
  background-color: #ddd;
}
.my-navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
.my-navbar .navbar-collapse,
.my-navbar .navbar-form {
  border-color: #e7e7e7;
}
.my-navbar .navbar-nav > .open > a,
.my-navbar .navbar-nav > .open > a:hover,
.my-navbar .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #59A5BF;
}
@media (max-width: 767px) {
  .my-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .my-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .my-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .my-navbar .navbar-nav .open .dropdown-menu > .active > a,
  .my-navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .my-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .my-navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .my-navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .my-navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.my-navbar .navbar-link {
  color: #777;
}
.my-navbar .navbar-link:hover {
  color: #333;
}
.my-navbar .btn-link {
  color: #777;
}
.my-navbar .btn-link:hover,
.my-navbar .btn-link:focus {
  color: #333;
}
.my-navbar .btn-link[disabled]:hover,
fieldset[disabled] .my-navbar .btn-link:hover,
.my-navbar .btn-link[disabled]:focus,
fieldset[disabled] .my-navbar .btn-link:focus {
  color: #ccc;
}


/*--------------------------------------Slider View--------------------------------------*/

.contain-slider {
    max-height: 100%;
    margin-top: 15px;
}

.row-dashboard-slider {
	max-height: 100%;
}


/*--------------------------------------Form Style--------------------------------------*/


.show-pass {
	margin-top: -5px;
	color: #818181;
	text-align: right;
	padding-right: 15px;
}

label {
	font-size: 12pt;
	margin-top: 3px;
}

.inform-height {
<<<<<<< HEAD
  height: 31spx;
=======
  height: 31px;
>>>>>>> 36f4020d2002ae25b244e36b187a03f6e59e5070
}

.btn-right {
  float: right;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.help-block {
  margin-bottom: -15px;
}


/*--------------------------------------View--------------------------------------*/

.main-content {
  padding-top: 15px;
}

.main-content-profile {
  padding-top: 25px;
}

.row-table-data {
  padding-top: 20px;
  height: 450px;
}

.row-paging-table {
  text-align: center;
  margin-bottom: -25px;
}



/*--------------------------------------table--------------------------------------*/

thead.index th {
  background-color: #127EA4;
  text-align: center;
  color: white;
}

tbody.index td {
}

td.kolom-tengah {
  text-align: center;
}

td.kolom-kanan {
  text-align: right;
}


/*----------------------------------------- Modal -----------------------------------------*/

p.modal-title {font-family: sans-serif; font-size: 15pt; font-weight: bold;}

.modal-width-index {
  max-width: 100%;
}

.label-right {
  text-align: right;
}
